.experience {
    max-width: 1200px;
    width: 100%;
    margin: 100px auto;
    margin-top: 200px;
    padding: 0 20px;
    box-sizing: border-box;
}

.experience-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-bottom: 300px;
}

.experience-image {
    position: relative;
    width: 600px;
}

.bg-box {
    width: 450px;
    height: 300px;
    background: #EFEFEF;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    top: -60px;
    z-index: 1;
}

.experience-image img {
    width: 100%;
    border-radius: 0px 20px 20px 0px;
    position: relative;
    z-index: 2;
}

.experience-content {
    width: 450px;
}

.experience-content span,
.materials-content span {
    color: #E58411;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
}

.experience-content h2,
.materials-content h2 {
    font-size: 42px;
    line-height: 1.3;
    margin: 20px 0;
    color: #1E1E1E;
}

.experience-content p,
.materials-content p {
    color: #7C7C7C;
    line-height: 1.8;
    margin-bottom: 25px;
}

.experience-content a,
.materials-content a {
    text-decoration: none;
    color: #E58411;
    font-weight: 600;
}

/* =========================
   ADAPTIVE
========================= */

@media (max-width: 1200px) {

    .experience {
        width: 100%;
        padding: 0 20px;
    }

    .experience-top {
        gap: 60px;
    }
}

@media (max-width: 992px) {

    .experience-top {
        gap: 40px;
    }

    .experience-image {
        width: 55%;
    }

    .experience-content {
        width: 45%;
    }
}

@media (max-width: 768px) {

    .experience {
        margin-top: 120px;
    }

    .experience-top {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .experience-image,
    .experience-content {
        width: 100%;
    }

    .bg-box {
        width: 100%;
        height: 250px;
    }
}